body {
  background-color: #020909;
  z-index: -3;
  background-image: url("/background1-min.webp"), url("/background2-min.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "JetBrains Mono";
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111d0d;
}

::-webkit-scrollbar-thumb {
  background: #566e14;
  border-radius: 16px;
}
